[config]

# log_dir = "logs"
log_level = "debug"
# dest_dir = "dstFolder"
# db_name = "mlm-db"
# thumbnail_dir = "thumbnails"

[webapp]

# port = 5056
# host = "localhost"
# working_directory = ""

[directories]

 [directories.test]

 path = "F:/Pictures/Images/Photos"
 # Possible values for 'move_type' are 'keep', 'managed', 'flatten', and 'none'
 move_type = "none"
 get_md5 = "true"
 ignored_filetypes = ["CR2", "db"]