{%  extends 'base.html' %}

{% block content %}

    <header>
      <h2>Image Gallery</h2>
    </header>

    <section>
      <nav>
          <p><b>Directory:</b> {{ main_dir }}</p>
          <p><b>Subdirs:</b></p>
          <ul>
          {% for sd in subdirs %}
              <li><a href="{{ sd['path_url'] }}">{{ sd['path_str'] }}</a></li>
          {% endfor %}
          </ul>
      </nav>

      <article>
          {% for image in images %}
          <span class="gallery-tile">
              <a href="/images/view/{{ image.id }}">
                  <img src="/thumbnails/id/{{ image.id }}" alt="">
              </a>
          </span>
          {% endfor %}
      </article>
    </section>

    <footer>
      {% if page is not none %}
          {% if page > 2 %}
              <span><a href="?page=1">First</a></span>
          {% endif %}
          {% if page > 1 %}
              <span><a href="?page={{ page - 1 }}">Prev</a></span>
          {% endif %}
          <span><a href="/">Home</a></span>
          <span><a href="?page={{ page + 1 }}">Next</a></span>
          {% if max_page is not none %}
              <span><a href="?page={{ max_page }}">Last</a></span>
          {% endif %}
      {% endif %}
    </footer>

{% endblock %}