{%  extends 'base.html' %}

{% block content %}
        <header>
          <h2>Scanned Directories</h2>
        </header>

        <section>
          <nav>
            <ul>
                <li><a href="#">Nav</a></li>
                <li><a href="#">Content</a></li>
                <li><a href="#">Goes</a></li>
                <li><a href="#">Here</a></li>
            </ul>
          </nav>
          <article>
            <table>
                <tr><th>Path</th><th>Start</th><th>Files</th></tr>
                {% for scan in scans %}
                    <tr><td>{{ scan.path }}</td><td>{{ scan.start_time }}</td><td>{{ scan.files_found }}</td></tr>
                {% endfor %}
            </table>
          </article>
        </section>

        <footer>
            <span><a href="/">Back to Index</a></span>
        </footer>
{% endblock %}