{%  extends 'base.html' %}

{% block content %}
        <table>
            <tr><th>Filename</th><th>Path</th><th>Format</th><th>Size</th><th>Height</th><th>Width</th></tr>
        {% for image in images %}
            <tr><td><a href="/images/view/{{ image.id }}">{{ image.file_info.filename }}</a></td><td>{{ image.file_info.path }}</td>
                <td>{{ image.format }}</td><td>{{ image.file_info.size }}</td><td>{{ image.height }}</td>
                <td>{{ image.width }}</td></tr>
        {% endfor %}
    </table>
{% endblock %}