{%  extends 'base.html' %}

{% block content %}
        <table border="1">
            <tr><th>Filename</th><th>Path</th><th>Format</th></th><th>Size</th><th>Height</th><th>Width</th></tr>
        {% for image in images %}
            <tr><td><a href="/images/id/{{ image.LibraryImage.id }}">{{ image.FileSql.filename }}</a></td><td>{{ image.FileSql.path }}</td>
                <td>{{ image.LibraryImage.format }}</td><td>{{ image.FileSql.size }}</td><td>{{ image.LibraryImage.height }}</td>
                <td>{{ image.LibraryImage.width }}</td></tr>
        {% endfor %}
    </table>
{% endblock %}