{%  extends 'base.html' %}

{% block content %}

    <header>
      <h2>Image View</h2>
    </header>

    <section>
      <nav>
          <p><b>Navigation:</b></p>
          <ul>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/image/manage/{{ image.id }}">Manage</a></li>
          </ul>
          <p><b>Image info:</b></p>
          <ul>
            <li>Filename: {{ image.file_info.filename }}</li>
            <li>Height: {{ image.height }}</li>
            <li>Width: {{ image.height }}</li>
            <li>Size: {{ image.file_info.get_friendly_size() }}</li>
            <li>Created: {{ image.file_info.get_friendly_created_time() }}</li>
          </ul>
      </nav>

      <article class="image">
          <a href="/images/id/{{ image.id }}"><img src="/images/id/{{ image.id }}" title="{{ image.file_info.filename }}" alt="not found"></a>
      </article>
    </section>

    <footer>
      <p>Footer</p>
    </footer>

{% endblock %}